@define-color color0 #131313;
@define-color color1 #ffffff;
@define-color color2 #c6c6c6;
@define-color color3 #e2e2e2;
@define-color color4 #d4d4d4;
@define-color color5 #474747;
@define-color color6 #e2e2e2;
@define-color color7 #1b1b1b;
@define-color color8 #1b1b1b;
@define-color color9 #1b1b1b;
@define-color color10 #919191;
@define-color color11 #474747;
@define-color color12 #c6c6c6;
@define-color color13 #ffb4ab;
@define-color color14 #690005;
@define-color color15 #e2e2e2;
